*{margin: 0; padding: 0;}

html,body{overflow-x: hidden; overflow-y: hidden; font-family: segoe ui;}

a{
  color: #FFFfff;
  text-decoration: none;
  font-weight: bold;
}

div.column-menu{
  width: 400px;
  height: 100vh;
  background: #474143;
  transition-duration: .3s;
  transition-delay: .3s;
  position: absolute;
  z-index: 100;
  float: left;
}

div.row-head{
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  padding: 50px 0px;
}

div.row-head > img{
  width: 100px;
  height: 100px;
  margin: auto;
  transition: transform 1s ease;
}

div.row-head > img:hover{
  transform: scaleX(1.5);
  transform: scaleY(1.5);
  transform: scale(1.5);
  transform: scale(1.5);
}

a.btn-menu{
  display: none;
}

div.column-body{
  width: calc(100% - 400px);
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  display: block;
  position: absolute;
  top: 0;
  left: 400px;
  z-index: 1;
  text-align: center;
  float: left;
  transition-duration: .3s;
  transition-delay: .3s;
}

div.column-body > .banner{
  width: 70%;
  min-width: 200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  position: relative;
  top: 10%;
}

div.column-body > article{
  width: 80%;
  min-width: 200px;
  height: auto;
  margin: auto;
  display: block;
  position: relative;
  top: 200px;
  padding-bottom: 20%;
}

@media screen and (max-width: 800px){

  div.column-menu{
    width: 100%;
    min-width: 200px;
    transform: translateX(-100%);
    transition-duration: .3s;
    transition-delay: .3s;
    float: none;
  }

  div.column-body{
    width: 100%;
    left: 0;
    transition-duration: .3s;
    transition-delay: .3s;
  }

  div.column-menu.active{
    transform: translateX(0);
    transition-duration: .3s;
    transition-delay: .3s;
  }

  a.btn-menu{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1000;
    top: 20px;
    left: 20px;
  }

  a.btn-menu > div.icon-menu{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  a.btn-menu > div.icon-menu > div.bar{
    width: 40px;
    height: 3px;
    margin: auto;
    background: #333333;
    border-radius: 50px;
    transition-duration: .3s;
    transition-delay: .3s;
  }

  a.btn-menu > div.icon-menu > div.bar.active{
    background: #FFFFFF;
    transition-duration: .3s;
    transition-delay: .3s;
  }

  a.btn-menu > div.icon-menu > div.bar1{
    transform: translateY(-7px);
    transition-duration: .3s;
    transition-delay: .3s;
  }

  a.btn-menu > div.icon-menu > div.bar2{
    transform: translateY(0px);
    transition-duration: .3s;
    transition-delay: .3s;
  }

  a.btn-menu > div.icon-menu > div.bar3{
    transform: translateY(7px);
    transition-duration: .3s;
    transition-delay: .3s;
  }

  a.btn-menu > div.icon-menu > div.bar1.active{
    transform: translateY(0);
    transform: rotate(45deg);
  }

  a.btn-menu > div.icon-menu > div.bar2.active{
    transform: translateY(0);
    transform: translateX(-200px);
  }

  a.btn-menu > div.icon-menu > div.bar3.active{
    transform: translateY(0);
    transform: rotate(-45deg);
  }
}

pre.ShowCode{
  width: 100%;
  height: auto;
  display: block;
  font-family: monospace;
  position: relative;
  top: 50px;
  text-align: left;
}

div.row-body{
  width: 100%;
  height: auto;
  min-height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}

div.row-body > ul{
  list-style: none;
}

div.row-body > ul >li{
  display: block;
  font-size: 1.5em;
}

div.row-body > ul >li > a{
  position: relative;
  left: 30px;
  width: 100%;
  display: block;
}
